<!doctype html>
<html ng-app="validator">
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script type="text/javascript" src="js/validator_core.js"></script>
<script type="text/javascript" src="js/validator.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
<header class="navbar navbar-inverse navbar-static-top">
<h3 style="color:white"><b>Pranali Thorat</b></h3>
</header>
<body background="images/Airliner.jpg">
	<div class="container">
	
	<form ng-controller="ValidateController">
	<div class="page-header">
		<h1 style="color:white">Check URL Validation</h1>
		</div>
		<div class="row">
			<div class="col-sm-6">
		<div class="jumbotron text-left"> 
		<div class="form-group">
			<p> <b>Enter the url</b>
           <input type="text" ng-model="isurl" ng-change="valURL()"> 
            {{mes_url}}</p>
        <br/>
        </div>
	  </div>
		
	</div>
</div>
</form>
</body>
</html>
